@model WebApplication3.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutDashboard";
}
<div class="row vh-100">
    <div class="d-table-cell align-middle">
        <div class="text-left mt-4">
            <h1 class="h2">Edit category</h1>
            <p class="lead">
                Please provide the following details to edit the category.
            </p>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="m-sm-4">
                    <form id="CreatCat" class="validate-form" asp-action="Edit" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                         <input type="hidden" asp-for="CategoryId" >
                        <div>
                            <label class="form-label" asp-for="CategoryName"></label>
                            <input asp-for="CategoryName" type="text" class="form-control form-control-lg">
                            <span asp-validation-for="CategoryName" class="text-theme-6"></span>
                        </div>
                        <div>
                            <label class="form-label" asp-for="CategoryDescription"></label>
                            <input asp-for="CategoryDescription" type="text" class="form-control form-control-lg">
                            <span asp-validation-for="CategoryDescription" class="text-theme-6"></span>
                        </div>

                        


                        <div class="mb-3">
                            <a asp-action="Index" class="button w-24 border text-gray-700 mr-1" onclick="ajaxRender(event)">Back to List</a>
                            <button type="submit" class="btn btn-lg btn-primary">Create</button>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
