@{
    Layout = "_LayoutDashboard";
}
<h2>Assign User To Role</h2>

<div class="row vh-100">
  <div class="d-table-cell align-middle">
    <div class="text-left mt-4">
      <h1 class="h2">Assign roles </h1>
        
    </div>

    <div class="card">
      <div class="card-body">
        <div class="m-sm-4">
          <form id="AssignRole" class="validate-form" asp-action="AssignUserToRole" enctype="multipart/form-data" method="post">
            <div class="mb-3">
              <label class="form-label">Role Select</label>
              @Html.DropDownList("Name", ViewBag.Roles as SelectList, new { @class = "form-control form-control-lg select-add-placeholder",id= "SelectRole" ,data_placeholder="Please select a product"})
           
              </div>

             
            <div class="mb-3">
              <label class="form-label">Name</label>
              @Html.DropDownList("Id", ViewBag.Users as SelectList, new { @class = "form-control form-control-lg" , id= "SelectUser" })
            </div>

               
            <div class="text-left mt-3">
              <button type="submit" name="submit" class="btn btn-success text-white">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(".select-add-placeholder").prepend("<option value='' disabled selected>Select an option...</option>");
</script>

