@{
    Layout = "_Layout";
}
<h2>Assign User To Role</h2>


  <form id="AssignRole" class="validate-form" asp-action="AssignUserToRole" enctype="multipart/form-data" method="post">
    <div class="p-5" id="select-options">
      
            <div class="preview">

                <div class="flex flex-col sm:flex-row items-center">
                    <div class="sm:mt-2">

                        @Html.DropDownList("Name", ViewBag.Roles as SelectList, new { @class = "input input--sm border mr-2",id= "SelectRole" })
                    </div>
                    <div class="mt-2">

                        @Html.DropDownList("Id", ViewBag.Users as SelectList, new { @class = "input border mr-2" , id= "SelectUser" })
                    </div>
                    <div class="mt-2">

                         <button type="submit" name="submit" class="button w-24 bg-theme-1 text-white">Save</button>
                    </div>
                </div>
            </div>
     

    </div>


</form>

