@{
    Layout = null;
}
<h2>AssignUserToRole</h2>


<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200">
        <h2 class="font-medium text-base mr-auto">
            assign user to a role
        </h2>

    </div>
    <div class="p-5" id="select-options">
      
            <div class="preview">

                <div class="flex flex-col sm:flex-row items-center">
                    <div class="sm:mt-2">

                        @Html.DropDownList("Name", ViewBag.Roles as SelectList, new { @class = "input input--sm border mr-2",id= "SelectRole" })
                    </div>
                    <div class="mt-2">

                        @Html.DropDownList("Id", ViewBag.Users as SelectList, new { @class = "input border mr-2" , id= "SelectUser" })
                    </div>
                    <div class="mt-2">

                        <button type="button" onclick="Save()" class="button w-24 bg-theme-1 text-white">Save</button>
                    </div>
                </div>
            </div>
     
        <div class="source-code hidden">
            <button data-target="#copy-select-options" class="copy-code button button--sm border flex items-center text-gray-700"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file w-4 h-4 mr-2"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> Copy code </button>
            <div class="overflow-y-auto h-64 mt-3">
                <pre class="source-preview" id="copy-select-options"> <code class="text-xs p-0 rounded-md html pl-5 pt-8 pb-4 -mb-10 -mt-10 hljs xml"> <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"flex flex-col sm:flex-row items-center"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"sm:mt-2"</span>&gt;</span> <span class="hljs-tag">&lt;<span class="hljs-name">select</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"input input--sm border mr-2"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>Chris Evans<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>Liam Neeson<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>Daniel Craig<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-name">select</span>&gt;</span> <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mt-2"</span>&gt;</span> <span class="hljs-tag">&lt;<span class="hljs-name">select</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"input border mr-2"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>Chris Evans<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>Liam Neeson<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>Daniel Craig<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-name">select</span>&gt;</span> <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mt-2"</span>&gt;</span> <span class="hljs-tag">&lt;<span class="hljs-name">select</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"input input--lg border mr-2"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>Chris Evans<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>Liam Neeson<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>Daniel Craig<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-name">select</span>&gt;</span> <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code> <textarea style="margin-left: 1000000px;" class="fixed w-1 h-1"></textarea></pre>
            </div>
        </div>
    </div>
</div>



