@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>


    <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-no-wrap items-center">
        <table class="table table-report -mt-2" id="tbl1">
            <thead>
                <tr>
                    <th class="whitespace-no-wrap">Role</th>
                    <th class="text-center whitespace-no-wrap">ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr class="intro-x" id="tr_@item.Id">
                        
                        <td>
                           
                            <div class="font-medium whitespace-no-wrap"> @Html.DisplayFor(modelItem => item.Name)</div>
                        </td>
                        
                        <td class="table-report__action w-56">
                            <div class="flex justify-center items-center">
                                <a class="flex items-center mr-3" asp-action="Edit" asp-route-id="@item.Id" onclick="ajaxRender(event)"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                <a class="flex items-center text-theme-6"  onclick="Delete('@item.Id')"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>