@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = "_LayoutDashboard";
    }
    else
    {
        Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
    }
}



<div>
    
 
            @RenderBody()
       
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
