@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}
<div class="row min-vh-100">
    
<div class="d-table-cell align-middle">
    <div class="text-left mt-4">
        <h1 class="h2">Email Management</h1>
        <p class="lead">

        </p>
    </div>


    <div class="card">
        <div class="card-body">
            <div class="m-sm-4">

                <form id="email-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="mb-3">
                
                        <label class="form-label" asp-for="Email"></label>
                   
                        <input asp-for="Email" class="form-control form-control-lg" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text text-success font-weight-bold form-control form-control-lg">✓</span>
                        </div>
                      
                    
                    </div>

                    <div class="mb-3">
                                
                        <label class="form-label" asp-for="Input.NewEmail"></label>
                  

                        <input asp-for="Input.NewEmail" class="form-control form-control-lg"/>
                        <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                     
                    </div>



                    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary btn-block">Change email</button>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}